<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Car Rental</title>
  <meta name="description" content="Main page of the Car Rental site.">
  <meta name="author" content="Wojciech">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
  <h1>Car Rental</h1>
  <h2>This is a main page for Car Rental Site. Below simple menu.</h2>
  <ul>
    <li>Login</li>
    <li>Register</li>
    <li>Show cars</li>
    <li>Add new car</li>
    <li>Update a car</li>
  </ul>
  
</body>
</html>
